@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf');
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf');
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

html,
body {
  font-size: 100%;
  word-wrap: break-word;
  text-wrap: balance;
}

/* My custom theming */
@theme {
  --font-ios: 'Roboto', sans-serif;
  --font-material: 'Roboto', sans-serif;
}
